@import "tailwindcss";

:root {
  --bg: #fafafa; /* light soft background */
  --card-bg: #ffffff; /* clean white cards */
  --text: #3e3e3e; /* main text - deep neutral gray */
  --primary: #8a5a44; /* main warm tone (umber like wood) */
  --secondary: #e7ccb1; /* softer secondary accent (like leather) */
  --border: #d6d1cb; /* subtle warm border */
  --heading: #2a2a2a; /* darker heading text */
}

@theme inline {
  --color-background: var(--bg); /* Body bg */
  --color-cardBg: var(--card-bg); /* Cards — warm subtle shade */
  --color-text: var(--text); /* Paragraphs */
  --color-primary: var(--primary); /* Headings — bold dark */
  --color-borderBg: var(--border); /* Borders*/
  --color-secondary: var(--secondary); /* Buttons ,hover, prices */
}

body {
  /* background: var(--background); */
}
.containerBox {
  width: 95%;
  margin: 0 auto;
}
